---
// src/components/Hero.astro
---

<section class="relative bg-gray-900 text-white">
	<div class="absolute inset-0">
		<img src="/hero.webp" alt="Hero" class="w-full h-full object-cover" />
		<div class="absolute inset-0 bg-black opacity-50"></div>
	</div>
	<div class="relative z-10 container mx-auto px-4 py-32 flex flex-col items-center text-center">
		<h1 class="text-4xl sm:text-5xl font-bold sm:font-extrabold mb-4 sm:mb-8">Rambla de las Esculturas</h1>
		<p class="text-lg sm:text-xl sm:font-medium mb-8 sm:mb-12 max-w-2xl">Una vereda para respirar el arte escultórico</p>
	</div>
</section>